{{#if isEditing}}
	<p><button {{action 'doneEditing'}}>Done</button></p>
	<p>{{input type="text" value=post.title class="form-control"}}</p>
	<p>{{ember-selectize content=authorlist selection=post.author}}</p>
  <p>{{input type="text" value=post.excerpt class="form-control"}}</p>
  <p>{{textarea value=post.body class="form-control"}}</p>

  <p><button {{action 'deletePost' class="btn btn-default"}}>Delete</button></p>
{{else}}
	<p><button {{action 'edit'}}>Edit</button></p>
{{/if}}
