{{#if isEditing}}
	<p><button {{action 'doneEditing'}}>Done</button></p>
	<p>{{input type="text" value=post.title class="form-control" placeholder="Post title"}}</p>
	<p>{{ember-selectize
    content=authors
    selection=post.author
    optionValuePath="content.id"
    optionLabelPath="content.name"
    placeholder="Post author"
  }}</p>
  <p>{{input type="text" value=post.excerpt class="form-control" placeholder="Post exercept"}}</p>
  <p>{{textarea value=post.body class="form-control" placeholder="Post content"}}</p>

  <p><button {{action 'deletePost' class="btn btn-default"}}>Delete</button></p>
{{else}}
	<p><button {{action 'edit'}}>Edit</button></p>
{{/if}}
