<div class="container-fluid">
<h1 id='title'>Welcome to Ember.js</h1>
<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	  <div class="navbar-header">
			{{#link-to 'application' class='navbar-brand'}}Bloggr{{/link-to}}
    </div>
		<div class="navbar-inner">
			<ul class="nav navbar-nav">
				{{#active-link}}{{#link-to 'posts'}}Posts{{/link-to}}{{/active-link}}
				{{#active-link}}{{#link-to 'authors'}}Authors{{/link-to}}{{/active-link}}
				{{#active-link}}{{#link-to 'about'}}About{{/link-to}}{{/active-link}}
				{{#active-link}}{{#link-to 'secret'}}Secret{{/link-to}}{{/active-link}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
        <li class="push {{if cloudState.cloudPull "push-enabled"}}" title="Pull data">
          <p class="navbar-btn">
            <i aria-hidden class="fa fa-2x fa-cloud-download"></i>
          </p>
          <p class="navbar-text">
            Pull {{if cloudState.cloudPull "synced" "not synced"}}
          </p>
        </li>
				<li class="push {{if cloudState.cloudPush "push-enabled"}}" title="Push data">
      		<p class="navbar-btn">
      			<i aria-hidden class="fa fa-2x fa-cloud-upload"></i>
      		</p>
      		<p class="navbar-text">
      			Push {{if cloudState.cloudPush "synced" "not synced"}}
      		</p>
			  </li>
			  {{#if session.isAuthenticated}}
				<li><a href="#" {{action "logout"}}>Logout</a></li>
				{{else}}
				{{#active-link}}{{#link-to 'login'}}Login{{/link-to}}{{/active-link}}
				{{/if}}
				<li>
        	<p class="navbar-btn spinner">{{refresh-indicator spin=isSpinning}}</p>
				</li>
			</ul>
		</div>
	</div>
</div>

{{outlet}}
</div>
