<p>{{input type="text" value=model.title}}</p>
<p>{{view "select" content=authorlist value=model.author}}</p>
<p>{{input type="text" value=model.excerpt}}</p>
<p>{{textarea value=model.body}}</p>

<p><button {{action 'deletePost'}}>Delete</button></p>