{{blog-post-edit post=model authors=authors isEditing=isEditing saveAction="savePost" deleteAction="deletePost"}}

<h1>{{model.title}}</h1>
<h2>by {{model.author}} <small class='muted'>({{format-date model.date}})</small></h2>

<hr>

<div class='intro'>
	{{format-markdown model.excerpt}}
</div>

<div class='below-the-fold'>
	{{format-markdown model.body}}
</div>
