<p>{{input type="text" value=model.title class="form-control"}}</p>
<p>{{ember-selectize content=controller.authorlist selection=model.author}}</p>
<p>{{input type="text" value=model.excerpt class="form-control"}}</p>
<p>{{textarea value=model.body class="form-control"}}</p>

<p><button {{action 'deletePost' class="btn btn-default"}}>Delete</button></p>
