{{#if isEditing}}
	<p><button {{action 'doneEditing'}}>Done</button></p>
	<p>{{partial 'post-edit'}}</p>
{{else}}
	<p><button {{action 'edit'}}>Edit</button></p>
{{/if}}

<h1>{{model.title}}</h1>
<h2>by {{model.author}} <small class='muted'>({{format-date model.date}})</small></h2>

<hr>

<div class='intro'>
	{{format-markdown model.excerpt}}
</div>

<div class='below-the-fold'>
	{{format-markdown model.body}}
</div>