{{#if isEditing}}
	<button {{action 'doneEditing'}}>Done</button>
	{{partial 'post-edit'}}
{{else}}
	<button {{action 'edit'}}>Edit</button>
{{/if}}

<h1>{{title}}</h1>
<h2>by {{model.author}} <small class='muted'>({{format-date model.date}})</small></h2>

<hr>

<div class='intro'>
	{{format-markdown model.excerpt}}
</div>

<div class='below-the-fold'>
	{{format-markdown model.body}}
</div>